<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @employee.avatar %>
</p>

<p>
  <strong>Name:</strong>
  <%= "#{@employee.last_kana_name} #{@employee.first_kana_name}" %><br/>
  <%= "#{@employee.last_name} #{@employee.first_name}" %>
</p>

<p>
  <strong>Age:</strong>
  <%= @employee.age %>
</p>

<%= link_to 'Edit Profile', edit_employee_path(@employee) %> |
<%= link_to 'Edit Avatar', edit_avatar_path(@employee) %> |
<%= link_to 'Back', @employee %>
